<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><?php echo $page_title; ?></title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css" />
    <script type="text/javascript" src="../assets/script.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="header"><h1>Form Booking</h1></div>
    <div id="nav">
        <ul>
            <li><a href="../dashboard.php">Home</a></li>
            <li><a href="riwayat.php">Riwayat</a></li>
            <li><a href="../auth/logout.php">Logout</a></li>
        </ul>
    </div>
    <div id="content">
        <div class="info-box">
            <span id="info_harga">Silakan isi data untuk hitung harga.</span>
        </div>
        
        <form action="" method="post">
            <div>
                <label>Lapangan:</label>
                <select name="lapangan" id="lapangan" onchange="hitungTotal()">
                    <option value="">Pilih Lapangan</option>
                    <?php foreach ($lapangan_list as $lapangan): ?>
                        <option value="<?php echo $lapangan['id']; ?>" 
                                data-harga="<?php echo $lapangan['harga_dasar']; ?>">
                            <?php echo $lapangan['nama_lapangan']; ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div>
                <label>Tanggal:</label>
                <input type="date" name="tanggal" id="tanggal" onchange="hitungTotal()" />
            </div>
            <div>
                <label>Jam Mulai:</label>
                <input type="time" name="jam" id="jam" onchange="hitungTotal()" />
            </div>
            <div>
                <label>Durasi (Jam):</label>
                <input type="text" name="durasi" id="durasi" onkeyup="hitungTotal()" />
            </div>
            <div>
                <label>Sewa Raket (Opsional):</label>
                <input type="text" name="jml_raket" id="jml_raket" onkeyup="hitungTotal()" />
            </div>
            <div>
                <input type="submit" name="simpan" value="Sewa Sekarang" />
            </div>
        </form>
    </div>
    <div id="footer"><p>&copy; 2025</p></div>
</div>
</body>
</html>